<div>
  <div class="modal">
    <div class="modal-body d-flex justify-content-between flex-column p-4">
      <div class="d-flex justify-content-between">
        <h4 class="color-title">Please, write name of column</h4>

        <button class="btn-close" (click)="closeModal()">X</button>
      </div>

      <form (ngSubmit)="addColumnToServer()" class="">
        <input
          type="text"
          name="nameColumn"
          [(ngModel)]="column.nameColumn"
          name="nameColumn"
          class="modal-body-input mb-4"
          placeholder="write name of component"
        />

        <button type="submit" class="btn modal-body-button">Add</button>
      </form>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
