<div class="container pt-3">
  <div class="d-flex justify-content-between mb-3">
    <h3 class="color-title font-weight-bolder">Name board</h3>

    <button type="submit" class="btn btn-create" (click)="createColumn()">
      New column
    </button>

    <div *ngIf="isShown">
      <app-add-column
        [isShown]="isShown"
        (closeModalAddColumn)="closeModalAddColumn()"
        (addColumn)="addColumn()"
      ></app-add-column>
    </div>
  </div>

  <div cdkDropListGroup class="board-columns d-flex flex-wrap">
    <div
      *ngFor="let column of columns; let id = index"
      class="board-column mb-3 rounded p-3"
    >
      <app-column
        (removeColumn)="removeColumn(id)"
        [columnName]="column.nameColumn"
        [id]="column.id"
        [otherNames]="getOtherNames(column.nameColumn)"
      ></app-column>
    </div>
  </div>
</div>
