.color-title {
  color: rgb(119, 75, 128);
}

.board-column {
  width: 30%;
  margin-right: 5%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.board-column:nth-child(3n) {
  margin-right: 0;
}

.btn-create {
  background-color: rgb(119, 75, 128);
  color: white;
}
