.btn-close {
  border: 0;
  background-color: transparent;
  outline: none;
}

.icon-style {
  color: rgb(119, 75, 128);
}

.style-input {
  width: 90%;
}

.task {
  margin: 15% 0;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 16px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
