<div class="task">
  <div class="d-flex justify-content-between">
    <p class="text-break">
      {{ text }}
    </p>

    <div>
      <button class="btn-close icon-style" (click)="deleteTask()">
        <i class="material-icons">delete_outline</i>
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn-close icon-style" (click)="clickComment()">
      <i class="material-icons">comment</i>
    </button>

    <span>
      {{ numberOfLike }}
    </span>

    <button class="btn-close icon-style">
      <i class="material-icons" (click)="clickLike()">thumb_up_off_alt</i>
    </button>
  </div>
  <div class="comment" *ngIf="showListOfComments">
    <form (ngSubmit)="clickAddComment()">
      <p class="d-flex">
        <input
          type="text"
          name="comment"
          [(ngModel)]="inputComment"
          class="style-input form-control-sm"
          placeholder="write comment"
        />

        <button class="btn-close icon-style" type="submit">
          <i class="material-icons">add</i>
        </button>
      </p>

      <p *ngFor="let comment of listOfComments">
        {{ comment }}
      </p>
    </form>
  </div>
</div>
