<div
  cdkDropList
  [id]="id"
  #[columnName]="cdkDropList"
  [cdkDropListData]="listOfTasks"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="otherNames"
  class="h-100"
>
  <div class="d-flex justify-content-between">
    <h4>
      {{ columnName }}
    </h4>

    <button class="btn-close icon-style" (click)="deleteColumn()">
      <i class="material-icons">delete_outline</i>
    </button>
  </div>

  <div>
    <button type="submit" class="btn btn-create mb-3" (click)="createTask()">
      +
    </button>

    <div *ngIf="isShown">
      <app-add-task
        (closeModalAddTask)="closeModalAddTask()"
        (addTask)="addTask()"
        [columnId]="id"
      ></app-add-task>
    </div>

    <div class="tasks">
      <div *ngFor="let task of listOfTasks; let i = index" cdkDrag>
        <app-task
          [id]="task.id"
          [columnId]="id"
          [text]="task.text"
          [numberOfLike]="task.numberOfLike"
          [showListOfComments]="taskComment === task.id"
          [listOfComments]="task.listOfComments"
          [relativeOrder]="task.relativeOrder"
          (removeTask)="removeTask(i)"
          (showComment)="showComment(task.id)"
        ></app-task>
      </div>
    </div>
  </div>
</div>
