.btn-close {
  border: 0;
  background-color: transparent;
  outline: none;
}

.btn-create {
  background-color: rgb(119, 75, 128);
  color: white;
}

.btn-create {
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  background-color: #f1edf3;
  color: black;
}

.icon-style {
  color: rgb(119, 75, 128);
}

