<div>
  <div class="modal">
    <form
      (ngSubmit)="addTaskToServer()"
      class="modal-body d-flex justify-content-between flex-column p-4"
    >
      <div class="d-flex justify-content-between">
        <h4 class="color-title">Please, write descriptin of task</h4>

        <button class="btn-close" (click)="closeModal()">X</button>
      </div>

      <input
        type="text"
        name="text"
        [(ngModel)]="inputTask"
        class="modal-body-input"
        (keydown.enter)="enterSubmit($event)"
        placeholder="write description task"
      />

      <button type="submit" class="btn modal-body-button">Add</button>
    </form>
  </div>

  <div class="modal-background"></div>
</div>
