.modal {
  width: 50%;
  display: block;
  position: fix;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  overflow: auto;
  .modal-body {
    height: 200px;
    top: 40%;
    transform: translateY(-40%);
    background: #fff;
    .modal-body-button {
      width: 100%;
      background-color: rgb(119, 75, 128);
      color: white;
    }
    .modal-body-input {
      width: 100%;
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}

.btn-close {
  border: 0;
  background-color: transparent;
  outline: none;
}

.color-title {
  color: rgb(119, 75, 128);
}
